.home {
    background-color: var(--background);
    min-height: 100vh;
    height: auto;
    font-family: 'Segoe UI';
    font-size: larger;
    font-weight: 600;
    font-style: italic;
}
/* Home.css */

/* Lazy loading placeholder styles */
.hero.lazy-loading {
    background-color: orange;
  }
  
  .hero {
    width: 100%;
    height: auto;
  }
  

.hero-text{
    margin:100px; 
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: left; 
    color: white; 
    z-index: 1;
}

.text {
    color: var(--foreground);
    margin-top: 10px;
}

.titletext {
    color: var(--foreground);
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: bolder;
}

.hero {
    width: auto;
}

.hero-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.link {
    color: red;
}

@media screen and (max-width: 768px) {
    .text{
        font-size: 12px;
        color: var(--home-text-color-mobile);
        
    }
    .hero-text{
        margin: 50px;
    }
    .text-body{
        margin-top: 700px;
        display: flex;
        flex-direction: column;
    }
}
